<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
  </head>
  <body>
    <div>
      <h2>Create user</h2>
      <form id="createUserForm">
        <label for="createUserEmail">Email</label>
        <input id="createUserEmail" name="createUserEmail" />
        <label for="createUserPassword">Password</label>
        <input id="createUserPassword" name="createUserPassword" />
        <input type="submit" value="Create user" />
      </form>
    </div>

    <div>
      <h2>Login user</h2>
      <form id="loginUserForm">
        <label for="loginUserEmail">Email</label>
        <input id="loginUserEmail" name="loginUserEmail" />
        <label for="loginUserPassword">Password</label>
        <input id="loginUserPassword" name="loginUserPassword" />
        <input type="submit" value="Login" />
      </form>
    </div>

    <div>
      <h2>Create blog</h2>
      <form id="createBlogForm">
        <label for="createBlogMessage">Message</label>
        <input id="createBlogMessage" name="createBlogMessage" />
        <input type="submit" value="Create blog" />
      </form>
    </div>

    <div>
      <h2>Last blog</h2>
      <form id="updateBlogForm">
        <label for="lastBlogMessage">Message</label>
        <input id="lastBlogMessage" name="LastBlogMessage" />
        <label for="lastBlogDate">Date</label>
        <input id="lastBlogDate" name="lastBlogDate" disabled />
        <label for="lastBlogAuthor">Author</label>
        <input id="lastBlogAuthor" name="lastBlogAuthor" disabled />
        <input type="submit" value="Update Blog Message" />
      </form>
    </div>
    <div>
      <button id="loadBlogButton">Load Blog</button>
      <button id="deleteBlogButton">Delete Blog</button>
    </div>
  </body>
  <script type="text/javascript">
    const createUserForm = document.getElementById('createUserForm');
    const createUserEmail = document.getElementById('createUserEmail');
    const createUserPassword = document.getElementById('createUserPassword');

    const loginUserForm = document.getElementById('loginUserForm');
    const loginUserEmail = document.getElementById('loginUserEmail');
    const loginUserPassword = document.getElementById('loginUserPassword');

    const createBlogForm = document.getElementById('createBlogForm');
    const createBlogMessage = document.getElementById('createBlogMessage');

    const loadBlogButton = document.getElementById('loadBlogButton');
    const lastBlogMessage = document.getElementById('lastBlogMessage');
    const lastBlogDate = document.getElementById('lastBlogDate');
    const lastBlogAuthor = document.getElementById('lastBlogAuthor');

    const updateBlogForm = document.getElementById('updateBlogForm');
    const deleteBlogButton = document.getElementById('deleteBlogButton');

    const setLastBlog = (blog) => {
      lastBlogMessage.value = blog.message;
      lastBlogDate.value = blog.createdDateUtc;
      lastBlogAuthor.value = blog.authorEmail;
      localStorage.setItem('lastBlogId', blog.id);
    };

    // Create User

    createUserForm.addEventListener('submit', async (evt) => {
      evt.preventDefault();

      const response = await fetch('http://localhost:3000/auth/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8',
        },
        body: JSON.stringify({
          login: createUserEmail.value,
          password: createUserPassword.value,
        }),
      });

      if (response.ok) {
        (createUserEmail.value = ''), (createUserPassword.value = '');
      }
    });

    // Login User

    loginUserForm.addEventListener('submit', async (evt) => {
      evt.preventDefault();

      const response = await fetch('http://localhost:3000/auth/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8',
        },
        body: JSON.stringify({
          login: loginUserEmail.value,
          password: loginUserPassword.value,
        }),
      });

      if (response.ok) {
        const result = await response.json();

        localStorage.setItem('jwtToken', result.access_token);
        localStorage.setItem('userEmail', loginUserEmail.value);

        (loginUserEmail.value = ''), (loginUserPassword.value = '');
      }
    });

    // Create Blog

    createBlogForm.addEventListener('submit', async (evt) => {
      evt.preventDefault();

      if (localStorage.jwtToken) {
        const response = await fetch('http://localhost:3000/blog/create', {
          method: 'POST',
          headers: {
            Authorization: 'Bearer ' + localStorage.jwtToken,
            'Content-Type': 'application/json;charset=utf-8',
          },
          body: JSON.stringify({
            createdDateUtc: new Date()
              .toISOString()
              .slice(0, 19)
              .replace('T', ' '),
            message: createBlogMessage.value,
            authorEmail: localStorage.userEmail,
          }),
        });
      }
    });

    // Load Blog

    loadBlogButton.addEventListener('click', async (evt) => {
      evt.preventDefault();

      const response = await fetch('http://localhost:3000/blog/last', {
        method: 'get',
      });
      if (response.ok) {
        const result = await response.json();

        setLastBlog(result);
      }
    });

    // Update Blog

    updateBlogForm.addEventListener('submit', async (evt) => {
      evt.preventDefault();

      if (localStorage.jwtToken) {
        await fetch('http://localhost:3000/blog/update', {
          method: 'PATCH',
          headers: {
            Authorization: 'Bearer ' + localStorage.jwtToken,
            'Content-Type': 'application/json;charset=utf-8',
          },
          body: JSON.stringify({
            id: localStorage.lastBlogId,
            createdDateUtc: new Date()
              .toISOString()
              .slice(0, 19)
              .replace('T', ' '),
            message: lastBlogMessage.value,
            authorEmail: localStorage.userEmail,
          }),
        });
      }
    });

    // Delete Blog

    deleteBlogButton.addEventListener('click', async (evt) => {
      evt.preventDefault();

      if (localStorage.jwtToken) {
        const response = await fetch(
          'http://localhost:3000/blog/delete/' + localStorage.lastBlogId,
          {
            method: 'DELETE',
            headers: {
              Authorization: 'Bearer ' + localStorage.jwtToken,
              'Content-Type': 'application/json;charset=utf-8',
            },
          },
        );

        if (response.ok) {
          setLastBlog({
            id: undefined,
            createdDateUtc: '',
            message: '',
            authorEmail: '',
          });
        }
      }
    });
  </script>
</html>
